html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: white;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.content-wrapper {
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #0c0d31;
    padding: 7px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 17%;
    height: auto;
}

main {

    flex-grow: 1;
    background: url(big-ben-westminster-bridge-sunset-london-uk.jpg) no-repeat center center;
    background-size: cover;
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza os botões verticalmente */
}

.btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    width: 15%;
    margin: 10px 0;
    padding: 10px 20px; /* Aumenta o padding para tornar os botões maiores */
    background-color: transparent;
    border: 4px solid white;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.2em; /* Aumenta o tamanho da fonte */
    font-weight: normal; /* Garantir que o texto não esteja em negrito */
    transition: all 0.3s ease; /* Adicionar transição suave */
    box-shadow: 0 25px 20px rgba(0, 0, 0, 0.2); /* Aumentar a sombra */
}

.btn:hover {
    background-color: white; /* Mudar o fundo ao passar o mouse */
    color: #e3a437; /* Mudar a cor do texto ao passar o mouse */
    border-color: #e3a437; /* Mudar a cor da borda ao passar o mouse */
    box-shadow: 0 25px 24px rgba(0, 0, 0, 0.3); /* Aumentar ainda mais a sombra ao passar o mouse */
    transform: translateY(-2px); /* Mover o botão ligeiramente para cima ao passar o mouse */
}


footer {
    background-color: #f0f0f0;
    color: #020336;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    flex-wrap: nowrap;
}

.footer-content p {
    margin: 10px 0;
    font-size: 0.9em;
    color: #020336;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.footer-content img {
    vertical-align: middle;
    margin-right: 10px;
}

.instagram {
    max-width: 25px;
    max-height: 25px;
    width: auto;
    height: auto;
}

.clock {
    max-width: 20px;
    max-height: 20px;
    width: auto;
    height: auto;
}

.email {
    max-width: 20px;
    max-height: 20px;
    width: auto;
    height: auto;
}

#text-rodape {
    color: #d29c30;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 600px) {
    .content-wrapper {
        width: 100%;
    }

    .btn {
        width: 55%;
        font-size: 0.9em;
    }

    header h1 {
        font-size: 1.5em;
    }

    header p {
        font-size: 0.9em;
    }

    .footer-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-content p {
        margin: 2px 0; 
        font-size: 1em;
        padding: 1px 0; 

    }

    .footer-content img {
        margin-right: 10px; 
        margin-bottom: 0; 
    }
    header {
        padding: 8px 0; 
    }

    .logo {
        max-width: 70%; 
    }
   
}

